{{ friendModel | json }}

<form #friendbookForm="ngForm">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" [(ngModel)]="friendModel._firstName" #firstName="ngModel"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" [(ngModel)]="friendModel._lastName" #lastName="ngModel"><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email" [(ngModel)]="friendModel._email" #email="ngModel"><br>
  <label for="phone">Phone number:</label><br>
  <input type="text" id="phone" name="phone" [(ngModel)]="friendModel._phoneNumber" #phoneNumber="ngModel"><br>
  <label for="language">Choose your favourite language:</label><br>
  <select name="language" id="language" [(ngModel)]="friendModel._favouriteLanguage" #favLanguage="ngModel">
    <optgroup label="You disappoint me">
      <option *ngFor="let language of language0" [value]="language">{{language}}</option>
    </optgroup>
    <optgroup label="It's fine">
      <option *ngFor="let language of language1" [value]="language">{{language}}</option>
    </optgroup>
    <optgroup label="My man">
      <option *ngFor="let language of language2" [value]="language">{{language}}</option>
    </optgroup>
    <optgroup label="Absolute Chad">
      <option *ngFor="let language of language3" [value]="language">{{language}}</option>
    </optgroup>
    <optgroup label="Sicco">
      <option value="Coding with cmd blocks in Minecraft">Coding with cmd blocks in Minecraft</option>
    </optgroup>
    <optgroup label="Super Saiyan Sicco">
      <option value="TypeScripting in Notepad using type any">TypeScripting in Notepad using type any</option>
    </optgroup>
  </select><br>
  <button type="submit">Submit</button>
</form>
