{{ friendModel | json }}

<form #friendbookForm="ngForm" novalidate (ngSubmit)="submitForm()">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" [(ngModel)]="friendModel._firstName" #firstName="ngModel"
         required [class.invalid]="firstName.invalid && firstName.touched" pattern="[a-zA-Z]*"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" [(ngModel)]="friendModel._lastName" #lastName="ngModel"
         required [class.invalid]="lastName.invalid && lastName.touched" pattern="[a-zA-Z]*"><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email" [(ngModel)]="friendModel._email" #email="ngModel"
         required [class.invalid]="email.invalid && email.touched" [email]="true"><br>
  <label for="phone">Phone number:</label><br>
  <input type="text" id="phone" name="phone" [(ngModel)]="friendModel._phoneNumber" #phoneNumber="ngModel"
         required [class.invalid]="phoneNumber.invalid && phoneNumber.touched" pattern="[0-9/+ ]*"><br>
  <label for="language">Choose your favourite language:</label><br>
  <select name="language" id="language" [(ngModel)]="friendModel._favouriteLanguage" #favLanguage="ngModel"
          required [class.invalid]="favLanguage.invalid && favLanguage.touched">
    <optgroup label="You disappoint me">
      <option *ngFor="let language of language0" [value]="language">{{language}}</option>
    </optgroup>
    <optgroup label="It's fine">
      <option *ngFor="let language of language1" [value]="language">{{language}}</option>
    </optgroup>
    <optgroup label="My man">
      <option *ngFor="let language of language2" [value]="language">{{language}}</option>
    </optgroup>
    <optgroup label="Absolute Chad">
      <option *ngFor="let language of language3" [value]="language">{{language}}</option>
    </optgroup>
    <optgroup label="Sicco">
      <option value="Coding with cmd blocks in Minecraft">Coding with cmd blocks in Minecraft</option>
    </optgroup>
    <optgroup label="Super Saiyan Sicco">
      <option value="TypeScripting in Notepad using type any">TypeScripting in Notepad using type any</option>
    </optgroup>
  </select><br>
  <button [disabled]="friendbookForm.form.invalid">Submit</button>
</form>
<!--<div>-->
<!--  <ul>-->
<!--    <li *ngFor="let friend of allFriends"> {{friend._firstName}} </li>-->
<!--  </ul>-->
<!--</div>-->

<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone number</th>
    <th scope="col">Favourite language</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let friend of allFriends">
    <td> {{friend._firstName}}</td>
    <td> {{friend._lastName}}</td>
    <td> {{friend._email}}</td>
    <td> {{friend._phoneNumber}}</td>
    <td> {{friend._favouriteLanguage}}</td>
  </tr>
  </tbody>
</table>
